@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/public-sans-v15-latin-300.woff2") format("woff2"), url("../fonts/public-sans-v15-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v15-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v15-latin-700.ttf") format("truetype");
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-family: "Public Sans", sans-serif;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.3rem;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1;
  width: 100%;
}
@media (min-width: 900px) {
  header {
    justify-content: space-between;
    padding-inline: 5rem;
  }
}
header .website-logo {
  flex-shrink: 0;
}
header .hamburger {
  cursor: pointer;
}
@media (min-width: 900px) {
  header .hamburger {
    display: none;
  }
}

.menu {
  display: none;
  height: 0;
  overflow: hidden;
}
@media (min-width: 900px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    height: auto;
  }
}
.menu li {
  font-size: clamp(1rem, 1vw, 1.5rem);
}
.menu li a {
  color: hsl(233, 8%, 62%);
}
.menu li a:hover, .menu li a:focus, .menu li a:active {
  color: hsl(233, 26%, 24%);
}

.open-menu {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: 6rem 2rem;
  padding: 2rem 1rem;
  border-radius: 0.4rem;
  position: absolute;
  box-shadow: 0 2em 20em 2em #030303;
  left: 0;
  right: 0;
}
@media (min-width: 900px) {
  .open-menu {
    flex-direction: row;
    position: static;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

button {
  display: none;
}
@media (min-width: 900px) {
  button {
    display: block;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
}
button:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 2300px) {
  .container {
    align-items: center;
  }
}
.container main {
  max-width: 150rem;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 900px) {
  .hero {
    flex-direction: row;
  }
}
.hero__images {
  position: relative;
}
.hero__images .bg-image {
  width: 100%;
  position: relative;
  top: -2rem;
}
.hero__images .mockups {
  position: absolute;
  top: -38%;
  width: 100%;
}
@media (min-width: 900px) {
  .hero__images .mockups {
    top: -20%;
    right: -15%;
  }
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 3rem 1.3rem 5rem 1.3rem;
}
@media (min-width: 900px) {
  .hero__text {
    padding: 5rem;
    align-items: start;
    text-align: start;
  }
}
.hero__text h1 {
  font-weight: 400;
  font-size: clamp(2.5rem, 1vw, 3rem);
  color: hsl(233, 26%, 24%);
  width: -moz-fit-content;
  width: fit-content;
}
.hero__text p {
  color: hsl(233, 8%, 62%);
  font-size: clamp(1rem, 1vw, 1.5rem);
}
.hero__text button {
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin-top: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem;
  background-color: hsl(220, 16%, 96%);
  align-items: center;
}
@media (max-width: 600px) {
  .intro {
    padding: 5rem 2rem;
  }
}
@media (min-width: 900px) {
  .intro {
    align-items: normal;
  }
}
.intro__heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
@media (min-width: 900px) {
  .intro__heading {
    align-items: flex-start;
    text-align: start;
  }
}
.intro__heading h2 {
  font-size: clamp(2rem, 1vw, 2.5rem);
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.intro__heading p {
  color: hsl(233, 8%, 62%);
  font-size: clamp(1rem, 1vw, 1.5rem);
}
.intro__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}
.intro__cards article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.intro__cards h3 {
  font-size: clamp(1.5rem, 1vw, 2rem);
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.intro__cards p {
  color: hsl(233, 8%, 62%);
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.news {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem;
  background-color: hsl(0, 0%, 98%);
  align-items: center;
}
@media (max-width: 600px) {
  .news {
    padding: 5rem 2rem;
  }
}
@media (min-width: 900px) {
  .news {
    align-items: normal;
  }
}
.news h2 {
  font-size: clamp(2rem, 1vw, 2.5rem);
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  text-align: center;
}
@media (min-width: 900px) {
  .news h2 {
    text-align: start;
  }
}
.news__articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}
.news__articles article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
}
.news__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 12rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.news__text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news__text .author {
  color: hsl(233, 8%, 62%);
  font-size: 0.7rem;
}
.news__text h4 {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.news__text h4:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.news__text p {
  color: hsl(233, 8%, 62%);
  font-size: clamp(0.8rem, 1vw, 1rem);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
}
@media (max-width: 600px) {
  footer {
    padding: 5rem 2rem;
  }
}
@media (min-width: 900px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 900px) {
  .left {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }
}
.left__socials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
}
.left__socials .logo__text {
  fill: hsl(0, 0%, 100%);
}
.left__socials ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.left__socials li img:hover, .left__socials li img:focus {
  background-color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.left__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 900px) {
  .left__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.left__links div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left__links li a {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
@media (min-width: 900px) {
  .left__links li a {
    text-align: start;
  }
}
.left__links li a:hover, .left__links li a:focus {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 900px) {
  .right {
    text-align: end;
    align-items: flex-end;
  }
}
.right button {
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.right p {
  color: hsl(233, 8%, 62%);
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.attribution {
  text-align: center;
  color: hsl(233, 26%, 24%);
  padding: 2rem;
  font-weight: 700;
}
.attribution a {
  color: hsl(136, 65%, 51%);
  text-decoration: none;
}