@use '../abstracts/index' as *;

footer {
    @include section-style($dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $big-gap;
    padding-block: 3rem;

    @media (min-width: 900px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: $big-gap;

    @media (min-width: 900px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: $big-gap;
        width: fit-content;

        .logo__text {
            fill: $white;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: $small-gap;
        }

        li {
            img:hover, img:focus {
                background-color: $lime-green;
                cursor: pointer;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: $small-gap;

        @media (min-width: 900px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-count: 2;
            column-gap: 5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: $small-gap;
        }

        li a {
            color: $white;
            text-align: center;

            @media (min-width: 900px) {
                text-align: start;
            }

            &:hover, &:focus {
                color: $lime-green;
                cursor: pointer;
            }
        }

    }
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: $big-gap;

    @media (min-width: 900px) {
        text-align: end;
        align-items: flex-end;
    }

    button {
        @include button;
    }

    p {
        @include paragraphs;
    }
}

.attribution {
    text-align: center;
    color: $dark-blue;
    padding: 2rem;
    font-weight: 700;

    a {
        color: $lime-green;
        text-decoration: none;
    }
}