@use '../abstracts/index' as *;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $big-gap;
    padding: $mobile-pad;
    background-color: $white;
    position: relative;
    z-index: 1;
    width: 100%;

    @media (min-width: 900px) {
        justify-content: space-between;
        padding-inline: 10rem;
    }

    .website-logo {
        flex-shrink: 0;
    }

    .hamburger {
        cursor: pointer;

        @media (min-width: 900px) {
            display: none;
        }
    }
}

.menu {
    // hide menu by default for smaller screens
    display: none;
    height: 0;
    overflow: hidden;

    @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: $big-gap;
        //  make height of nav-links shrink to content
        height: auto;
    }

    li {
        font-size: 1rem;

        a {
            color: $grayish-blue;

            &:hover,
            &:focus,
            &:active {
                color: $dark-blue;
            }
        }
    }
}

// open popup menu on clicking the hamburger icon
.open-menu {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $big-gap;
    height: fit-content;
    margin: 6rem 2rem;
    padding: 2rem 1rem;
    border-radius: .4rem;
    position: absolute;
    box-shadow: 0 2em 20em 2em #030303;
    left: 0;
    right: 0;

    @media (min-width: 900px) {
        flex-direction: row;
        // removes absolute positioning
        position: static;
        // remove margin and padding
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}

.header-button {
    display: none;

    @media (min-width: 900px) {
        display: block;
        @include button;
    }

    &:hover {
        box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
    }
}