@use '../abstracts/index' as *;


.container {
    display: flex;
    flex-direction: column;

    @media (min-width: 2300px) {
        align-items: center;
    }

    main {
        max-width: 150rem;
        overflow: hidden;
    }
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    background-color: $very-light-gray;

    @media (min-width: 900px) {
        flex-direction: row;
    }

    &__images {
        position: relative;

        .bg-image {
            width: 100%;
            position: relative;
            top: -2rem;
        }

        .mockups {
            position: absolute;
            top: -38%;
            width: 100%;

            @media (min-width: 900px) {
                top: -20%;
                right: -15%;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $small-gap;
        text-align: center;
        padding: 3rem $mobile-pad 5rem $mobile-pad;

        @media (min-width: 900px) {
            padding: $section-pad;
            align-items: start;
            text-align: start;
        }

        h1 {
            font-weight: 400;
            font-size: clamp(2.5rem, 1vw, 3rem);
            color: $dark-blue;
            width: fit-content;
        }

        p {
            color: $grayish-blue;
            font-size: $paragraph-size;
            // margin-right: $section-pad;
        }

        button {
            @include button;
            margin-top: 1rem;
        }
    }
}