@use '../abstracts/index' as *;

.intro {
    @include section-style($light-grayish-blue);

    &__heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap;

        h2 {
            @include section-heading;
        }

        p {
            @include paragraphs;
        }
    }

    &__cards {
        @include grid-items;

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $gap;
        }

        h3 {
            font-size: clamp(1.5rem, 1vw, 2rem);
            font-weight: 400;
            color: $dark-blue;
        }

        p {
            @include paragraphs;
        }
    }
}