@use '../abstracts/index' as *;

.intro {
    @include section-style($light-grayish-blue);
    align-items: center;

    @media (min-width: 820px) {
        align-items: normal;
    }
    
    &__heading{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: $gap;

        @media (min-width: 820px) {
            align-items: flex-start;
            text-align: start;
        }
        
        h2 {
            @include section-heading;
        }
        
        p {
            @include paragraphs;
        }
    }
    
    &__cards {
        @include grid-items;
        
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $gap;
            text-align: center;
        }

        h3 {
            font-size: clamp(1.5rem, 1vw, 2rem);
            font-weight: 400;
            color: $dark-blue;
        }

        p {
            @include paragraphs;
        }
    }
}