@use '../abstracts/index' as *;

.news {
    @include section-style($very-light-gray);
    align-items: center;

    @media (min-width: 820px) {
        align-items: normal;
    }

    h2 {
        @include section-heading;
        text-align: center;

        @media (min-width: 820px) {
            text-align: start;
        }    
    }

    &__articles {
        @include grid-items;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-radius: .5rem;
            background-color: $white;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        height: 12rem;
        border-radius: .5rem .5rem 0 0;
    }

    &__text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: $gap;

        .author {
            color: $grayish-blue;
            font-size: .7rem;
        }

        h4 {
            font-size: clamp(1rem, 1.2vw, 1.5rem);
            font-weight: 400;
            color: $dark-blue;
        }

        p {
            color: $grayish-blue;
            font-size: clamp(.8rem, 1vw, 1rem);
        }
    }
}